In [26]:
import pandas as pd

person={
    'first':'Samuel',
    'last':'Khongthaw',
    'email':'samkhong@gmail.com'
}

people={
    'first':['samuel'],
    'last':['khongthaw'],
    'email':['samkhong@gmail.com']
}

In [27]:
people={
    'first':['samuel','erik','ben'],
    'last':['khongthaw','lal','semy'],
    'email':['samkhong@gmail.com','eriklal@gmail.com','benSemy@gmail.com']
}

* data frames are very similar to these but with more Functionality

In [28]:
people['email']

['samkhong@gmail.com', 'eriklal@gmail.com', 'benSemy@gmail.com']

In [29]:
df = pd.DataFrame(people)
df

    first       last               email
0  samuel  khongthaw  samkhong@gmail.com
1    erik        lal   eriklal@gmail.com
2     ben       semy   benSemy@gmail.com

* what is a series? It's Rows of data.(of a single column--here "email")

* sometimes methods can be same as column name so~ Better to use ['col_name']

In [30]:
df['email'] # we'll get the emails from the data frame --- Returns a series
#you can also you this
df.email

0    samkhong@gmail.com
1     eriklal@gmail.com
2     benSemy@gmail.com
Name: email, dtype: object

In [31]:
df[['last', 'email']] # filteres out the first name ~ and just got last and email

        last               email
0  khongthaw  samkhong@gmail.com
1        lal   eriklal@gmail.com
2       semy   benSemy@gmail.com

In [32]:
df.columns # to get the columns

Index(['first', 'last', 'email'], dtype='object')

* iloc-- index locator

In [33]:
df.iloc[0] #gets the first row --- returns a Series that contains info in 1st row
df.iloc[[1,2],2] # pass an inner list inside the Square Brackets

1    eriklal@gmail.com
2    benSemy@gmail.com
Name: email, dtype: object

In [34]:
df.loc[[0,2],['email','last']]

                email       last
0  samkhong@gmail.com  khongthaw
2   benSemy@gmail.com       semy

In [ ]:
df.set_index('email',inplace=True) # email becomes the index
df

In [37]:
df.index # prints all the indexes as a list

Index(['samkhong@gmail.com', 'eriklal@gmail.com', 'benSemy@gmail.com'], dtype='object', name='email')

In [ ]:
# we can reset the index as well
df.reset_index(inplace=True)